
# Python
**/__pycache__
pipx/Asterism*
pipx/build

# Python virtual environment
odatix_venv/

# Odatix sessions
.odatix_sessions/


# Work
work/*

# Vivado
**/.Xil
**/vivado*.jou
**/vivado*.log
**/vivado*.str
**/tight_setup_hold_pins.txt
hs_err_*.log
.run_vivado_success

# Design Compiler
.nfs*
alib-*
command.log
change_names_verilog
default.svf
filenames*.log
LIB_*_autoread

# Genus
genus.log
genus.cmd

# Results
results/*
results_

# Build
sources/build
sources/dist
build
dist
release
venv*
**/*.egg-info

# Others
**/.stamp.*
.vscode
.metals
.odatix
.scala-build
.venv
.sav
offline_install

# Chisel
**/target
*chisel/rtl

/examples
/odatix_userconfig
/odatix.yml
/odatix_error.log

# Docs
docs/build
