work/vivado/*
work/design_compiler/*
**/.Xil
**/vivado*.jou
**/vivado*.log
**/vivado*.str
**/tight_setup_hold_pins.txt
**/__pycache__
alib-*
work/ARCH
work/ENTI
work/*.syn
work/*.mr
command.log
default.svf
change_names_verilog
filenames*.log
.nfs*
DC_WORK_*_autoread