
# Python
**/__pycache__

# Vivado
work/vivado*
work/vivado/*
**/.Xil
**/vivado*.jou
**/vivado*.log
**/vivado*.str
**/tight_setup_hold_pins.txt

# Design Compiler
work/design_compiler/*
work/ARCH
work/ENTI
work/*.syn
work/*.mr
.nfs*
alib-*
command.log
change_names_verilog
default.svf
filenames*.log
DC_WORK_*_autoread

# Docs
docs/build
