
##############################################
# Settings for ALU example
##############################################
---

# generate the rtl (from chisel for example)
generate_rtl: Yes
generate_command: "sbt 'runMain ALUTop --o=rtl'" # this requires sbt and firtool

design_path: "examples/alu_chisel"
rtl_path: "examples/alu_chisel/rtl"

# generated design settings
top_level_file: "ALUTop.sv"
top_level_module: "ALUTop"
clock_signal: "clock"
reset_signal: "reset"

# copy a file into synthesis directory?
file_copy_enable: No
file_copy_source: "/dev/null"
file_copy_dest: "/dev/null"

# delimiters for parameter files
use_parameters: Yes
param_target_file: "src/main/scala/ALUTop.scala" # this is the file in which the parameters will be replaced
start_delimiter: "new ALUTop("
stop_delimiter: ")"

# optional target-specific bounds (in MHz) to speed up fmax search
xc7s25-csga225-1:
  fmax_synthesis:
    lower_bound: 100
    upper_bound: 450
  range_synthesis:
    list: [50, 100]
xc7a100t-csg324-1:
  fmax_synthesis:
    lower_bound: 150
    upper_bound: 800
  range_synthesis:
    list: [50, 100]
xc7k70t-fbg676-2:
  fmax_synthesis:
    lower_bound: 50
    upper_bound: 1200
  range_synthesis:
    list: [50, 100]
XFAB180CMOS:
  fmax_synthesis:
    lower_bound: 300
    upper_bound: 700
  range_synthesis:
    list: [50, 100]
AMS350CMOS:
  fmax_synthesis:
    lower_bound: 50
    upper_bound: 400
  range_synthesis:
    list: [50, 100]
...
