
##############################################
# Settings for counter example
##############################################
---

rtl_path: "examples/counter_verilog"

# design settings
top_level_file: "counter.v"
top_level_module: "counter"
clock_signal: "clock"
reset_signal: "reset"

# copy a file into synthesis directory?
file_copy_enable: No
file_copy_source: "/dev/null"
file_copy_dest: "/dev/null"

# delimiters for parameter files
use_parameters: Yes
start_delimiter: "counter #("
stop_delimiter: ")("

# optional target-specific bounds 
# frequencies are in MHz
xc7s25-csga225-1:
  fmax_synthesis:
    lower_bound: 100
    upper_bound: 900
  range_synthesis:
    list: [50, 100]
xc7a100t-csg324-1:
  fmax_synthesis:
    lower_bound: 250
    upper_bound: 900
  range_synthesis:
    list: [50, 100]
xc7k70t-fbg676-2:
  fmax_synthesis:
    lower_bound: 200
    upper_bound: 1800
  range_synthesis:
    lower_bound: 200
    upper_bound: 1800
    step: 200
XFAB180CMOS:
  fmax_synthesis:
    lower_bound: 400
    upper_bound: 700
  range_synthesis:
    list: [50, 100]
AMS350CMOS:
  fmax_synthesis:
    lower_bound: 60
    upper_bound: 160
  range_synthesis:
    list: [50, 100]
...
